[flake8]
max-line-length = 120
show-source = true
statistics = true
inline-quotes="
extend-exclude =
    venv*,
    .git,
    .*
ignore =
    # Line break occurred after a binary operator
    W504,
    # Missing docstrings
    D100,D101,D102,D103,D104,D105,D106,D107
per-file-ignores =
    # First argument of a method should be named 'self'
    */schemas/**.py:N805
    */core/**.py:N805
    ./tests/functional/settings.py:N805
